<h1>Medications at <%= pharmacyName %></h1>

<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>ID</th><th>Generic Name</th><th>Brand Name</th>
      <th>Form</th><th>Strength</th><th>Manufacturer</th><th>Stock</th>
    </tr>
  </thead>
  <tbody>
    <% medications.forEach(med => { %>
      <tr>
        <td><%= med.medicationID %></td>
        <td><%= med.genericName %></td>
        <td><%= med.brandName %></td>
        <td><%= med.form %></td>
        <td><%= med.strength %> mg</td>
        <td><%= med.manufacturer %></td>
        <td><%= med.stock ?? 'N/A' %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
<br><a href="/medications">Back to All Medications</a>
