<h1>Dispense History for Prescription #<%= prescriptionID %></h1>
<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>ID</th><th>Date Dispensed</th><th>Medication</th><th>Quantity</th><th>Pharmacy</th>
    </tr>
  </thead>
  <tbody>
    <% history.forEach(h => { %>
      <tr>
        <td><%= h.dispenseID %></td>
        <td><%= h.dispenseDate %></td>
        <td><%= h.brandName %></td>
        <td><%= h.dispensedQuantity %></td>
        <td><%= h.pharmacyName %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
<br><a href="/prescriptions">Back to Prescriptions</a>
